{% extends 'base.html' %}
{% load static %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>
{% block top_header %}
    {% include 'pages/include/top_header.html' %}
{% endblock %}
{% block nav_main_header %}
    {% include 'pages/include/nav_main_header.html' %}
{% endblock %}



{% block content %}
    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
        <div class="container breadcrumb-area">
            <div class="breadcrumb-areas">
                <h1>Our Car Inventory</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cars</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->

    <!-- Featured car start -->
    <div class="featured-car content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">

                    <div class="row">
                        {% for car in all_cars %}
                            <div class="col-lg-6 col-md-6">
                                <div class="car-box-3">
                                    <div class="car-thumbnail">
                                        <a href="{{ car.get_absolute_url }}" class="car-img">
                                            {% if car.for_rent is not True %}
                                                <div class="tag" style="background-color: gray">For Sale</div>
                                            {% elif car.for_rent and car.for_sale is True %}
                                                <div class="tag" style="background-color: seagreen">For Sale/Rent</div>
                                            {% else %}
                                                <div class="tag">For Rent</div>
                                            {% endif %}

                                            {% if car.for_rent and car.for_sale is True %}
                                                <div class="price-box">
                                                    <span>For Rent ${{ car.price_for_rent }}
                                                          For Sale ${{ car.price_for_sale }}
                                                    </span>
                                                </div>
                                                <br>
                                            {% elif car.for_sale is True %}
                                                <div class="price-box">
                                                    <span>For Sale ${{ car.price_for_sale }}</span>
                                                </div>
                                            {% else %}
                                                <div class="price-box">
                                                    <span>For Rent ${{ car.price_for_rent }}</span>
                                                </div>
                                            {% endif %}

                                            <img class="d-block w-100" src="{{ car.car_image.url }}" alt="car"
                                                 style="min-width: 350px; max-width: 350px; max-height: 240px; min-height: 240px;">
                                        </a>
                                        <div class="carbox-overlap-wrapper">
                                            <div class="overlap-box">
                                                <div class="overlap-btns-area">
                                                    <div class="car-magnify-gallery">
                                                        <a href="{{ car.car_image.url }}" class="overlap-btn">
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{% static 'img/car/car-1.jpg' %}">
                                                        </a>
                                                        {% if car.car_image_1 %}
                                                            <a href="{{ car.car_image_1.url }}" class="hidden">
                                                                <img class="hidden"
                                                                     src="{{ car.car_image_1.url }}">
                                                            </a>
                                                        {% endif %}
                                                        {% if car.car_image_2 %}
                                                            <a href="{{ car.car_image_2.url }}" class="hidden">
                                                                <img class="hidden"
                                                                     src="{{ car.car_image_2.url }}">
                                                            </a>
                                                        {% endif %}
                                                        {% if car.car_image_3 %}
                                                            <a href="{{ car.car_image_3.url }}" class="hidden">
                                                                <img class="hidden"
                                                                     src="{{ car.car_image_3.url }}">
                                                            </a>
                                                        {% endif %}
                                                        {% if car.car_image_4 %}
                                                            <a href="{{ car.car_image_4.url }}" class="hidden">
                                                                <img class="hidden"
                                                                     src="{{ car.car_image_4.url }}">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <h1 class="title">
                                            <a href="{{ car.get_absolute_url }}">{{ car.car_title }}</a>
                                        </h1>
                                        <div class="location">
                                            <a href="{{ car.get_absolute_url }}">
                                                <i class="flaticon-pin"></i>State:{{ car.state }}, City:{{ car.city }},
                                            </a>
                                        </div>
                                        <ul class="facilities-list clearfix">
                                            <li>{{ car.fuel_type }}</li>
                                            <li>{{ car.miles }} km</li>
                                            <li>{{ car.transmission }}</li>
                                            <li>{{ car.body_style }}</li>
                                            <li>{{ car.color }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <!-- Page navigation start -->
                    <div class="pagination-box p-box-2 text-center">
                        <nav aria-label="Page navigation example">
                            {% if all_cars.has_other_pages %}
                                <ul class="pagination">
                                    {% if all_cars.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ all_cars.previous_page_number }}"><i
                                                    class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% endif %}
                                    {% for num in all_cars.paginator.page_range %}
                                        {% if all_cars.number == num %}
                                            <li class="page-item"><a class="page-link active"
                                                                     href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_cars.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">

                        <!-- Advanced search start -->
                        <div class="widget advanced-search2">
                            <h3 class="sidebar-title">Поиск Автомобиля</h3>
                            <form action="{% url 'search' %}" method="get">
                                <div class="form-group">
                                    <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="select-brand">
                                        <option selected="true" disabled="disabled">Brand</option>
                                        {% for model in search_model %}
                                            <option value="{{ model }}">{{ model }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="select-location">
                                        <option selected="true" disabled="disabled">Location</option>
                                        {% for location in search_city %}
                                            <option value="{{ location }}">{{ location }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="select-year">
                                        <option selected="true" disabled="disabled">Year</option>
                                        {% for year in search_year %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="select-type">
                                        <option selected="true" disabled="disabled">Select Type Of Car</option>
                                        {% for body in search_body_style %}
                                            <option value="{{ body }}">{{ body }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="range-slider clearfix">
                                    <label>Price</label>
                                    <div data-min="0" data-max="150000" data-min-name="min_price"
                                         data-max-name="max_price"
                                         data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block button-theme btn-md">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </form>
                        </div>

                        <!-- Question start -->
                        <div class="widget question widget-3">
                            <h5 class="sidebar-title">Follow us</h5>
                            <div class="social-list clearfix">
                                <ul>
                                    <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured car end -->



{% endblock %}


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- Custom javascript -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>