#header{
    background-color: black;
}
#header a:link, #header a:visited{
    color: red;
}
div.breadcrumbs{
    background-color: black;
    color: wheat;
}
.module h2, .module caption, inline-group h2{
    background-color: black;
    color: whitesmoke;
}
.body{
    background-color: black;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: black;
}
.button.default, input[type=submit].default, .submit-row input.default{
    background-color: black;
}